Repository MaaAssistantArknights/maa-cli: changes, and which Codecov flags are due for each by the changed paths.
All: maa-sys, maa-cli

refactor: use windows-sys to replace windows crate (#331)
  Cargo.lock
  maa-cli/Cargo.toml
  maa-cli/src/run/mod.rs
Due: maa-cli

ci: update x86_64 macOS runners to 13
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: use nightly rustfmt for formatting check
  .github/workflows/ci.yml
Due: none

fix: don't force unix line endings
  rustfmt.toml
Due: none

fix: task name of reclamation algorithm
  maa-cli/src/run/preset/reclamation.rs
  maa-sys/src/task_type.rs
Due: maa-sys, maa-cli

fix: task name of reclamation algorithm (#336)
  maa-cli/src/run/preset/reclamation.rs
  maa-sys/src/task_type.rs
Due: maa-sys, maa-cli

feat: add support for encrypted ssh key and ssh-agent
  maa-cli/config_examples/cli.toml
  maa-cli/src/config/cli/mod.rs
  maa-cli/src/config/cli/resource.rs
  maa-cli/src/installer/resource.rs
Due: maa-cli

docs: update docs for ssh passphrase
  maa-cli/config_examples/cli.toml
  maa-cli/docs/en-US/config.md
  maa-cli/docs/ja-JP/config.md
  maa-cli/docs/ko-KR/config.md
  maa-cli/docs/zh-CN/config.md
  maa-cli/docs/zh-TW/config.md
Due: maa-cli

fix: don't use ssh to clone the repository in example config
  maa-cli/config_examples/cli.toml
  maa-cli/src/config/cli/mod.rs
  maa-cli/src/config/cli/resource.rs
Due: maa-cli

fix: only implement Certificate::fetch when git2 feature is enabled
  maa-cli/src/config/cli/resource.rs
Due: maa-cli

test: add tests for Passphrase
  maa-cli/src/config/cli/resource.rs
Due: maa-cli

feat: add support for encrypted ssh key and ssh-agent (#337)
  maa-cli/config_examples/cli.toml
  maa-cli/docs/en-US/config.md
  maa-cli/docs/ja-JP/config.md
  maa-cli/docs/ko-KR/config.md
  maa-cli/docs/zh-CN/config.md
  maa-cli/docs/zh-TW/config.md
  maa-cli/src/config/cli/mod.rs
  maa-cli/src/config/cli/resource.rs
  maa-cli/src/installer/resource.rs
Due: maa-cli

docs: imporve docs about fetching via SSH
  maa-cli/docs/ja-JP/config.md
  maa-cli/docs/zh-CN/config.md
  maa-cli/docs/zh-TW/config.md
Due: maa-cli

chore: update schema ssh configuration
  maa-cli/schemas/cli.schema.json
Due: maa-cli

chore: remove [bot] suffix from username in changelog
  CHANGELOG.md
  cliff.toml
Due: none

ci: use lychee to check dead links
  .github/workflows/lint-markdown.yml
  .linkspector.yml
Due: none

chore(changelog): update changelog for 0.5.0
  CHANGELOG.md
Due: none

chore(changelog): add a space after the colon in the breaking changes
  CHANGELOG.md
  cliff.toml
Due: none

chore(changelog): fix typo
  CHANGELOG.md
Due: none

chore(changelog): improve the description of a bug fix
  CHANGELOG.md
Due: none

test: ignore data_relative test
  maa-dirs/src/lib.rs
Due: none

chore: bump maa-cli to 0.5.1, maa-dirs to 0.1.1
  Cargo.lock
  maa-cli/Cargo.toml
  maa-dirs/Cargo.toml
Due: maa-cli

ci: add maa-dirs component
  codecov.yml
Due: none

refactor: split shared types into maa-types crate
  Cargo.lock
  Cargo.toml
  maa-cli/Cargo.toml
  maa-cli/src/config/asst.rs
  maa-cli/src/run/callback/mod.rs
  maa-cli/src/run/callback/summary.rs
  maa-sys/Cargo.toml
  maa-sys/src/asst_type.rs
  maa-sys/src/binding.rs
  maa-sys/src/error.rs
  maa-sys/src/lib.rs
  maa-sys/src/task_type.rs
  maa-sys/src/to_cstring.rs
  maa-types/Cargo.toml
  maa-types/src/lib.rs
Due: maa-sys, maa-cli

fix: use crate::Error instead of Error
  maa-sys/src/to_cstring.rs
Due: maa-sys

improve tests and remove deprecated function
  maa-sys/src/lib.rs
  maa-types/src/lib.rs
Due: maa-sys

refactor!: remove IntoCString trait, use ToCString instead
  maa-sys/src/lib.rs
  maa-sys/src/to_cstring.rs
Due: maa-sys

refactor: split shared types into maa-types crate (#341)
  Cargo.lock
  Cargo.toml
  maa-cli/Cargo.toml
  maa-cli/src/config/asst.rs
  maa-cli/src/run/callback/mod.rs
  maa-cli/src/run/callback/summary.rs
  maa-sys/Cargo.toml
  maa-sys/src/asst_type.rs
  maa-sys/src/binding.rs
  maa-sys/src/error.rs
  maa-sys/src/lib.rs
  maa-sys/src/task_type.rs
  maa-sys/src/to_cstring.rs
  maa-types/Cargo.toml
  maa-types/src/lib.rs
Due: maa-sys, maa-cli

chore: centralize and update dependencies
  Cargo.lock
  Cargo.toml
  maa-cli/Cargo.toml
  maa-dirs/Cargo.toml
  maa-sys/Cargo.toml
Due: maa-sys, maa-cli

chore: centralize and update dependencies (#342)
  Cargo.lock
  Cargo.toml
  maa-cli/Cargo.toml
  maa-dirs/Cargo.toml
  maa-sys/Cargo.toml
Due: maa-sys, maa-cli

test: simplify to_cstring test
  maa-sys/src/to_cstring.rs
Due: maa-sys

chore: replace some allow with expect and add reason
  maa-cli/src/cleanup.rs
  maa-cli/src/command.rs
  maa-cli/src/config/asst.rs
  maa-cli/src/main.rs
  maa-dirs/src/lib.rs
  maa-sys/src/link.rs
Due: maa-sys, maa-cli

refactor: replace OnceLock with LazyLock
  maa-cli/src/activity.rs
  maa-cli/src/cleanup.rs
  maa-cli/src/config/asst.rs
  maa-cli/src/config/cli/maa_core.rs
  maa-cli/src/config/cli/mod.rs
  maa-cli/src/installer/maa_cli.rs
  maa-cli/src/installer/maa_core.rs
  maa-cli/src/installer/resource.rs
  maa-dirs/src/lib.rs
Due: maa-cli

chore: display licenses of third party projects
  README.md
  about.hbs
  about.toml
  licenses.html
Due: none

chore: ignore licenses.html in typos check
  Cargo.toml
Due: none

chore: add editorconfig
  .editorconfig
Due: none

ci: add a workflow to update the license information
  .github/workflows/chore-license.yml
  about.hbs
  licenses.html
Due: none

ci: only commit and push if there are changes
  .github/workflows/chore-license.yml
Due: none

Path conditions:
  maa-sys: any of: maa-sys
  maa-cli: any of: maa-cli
