Repository MaaAssistantArknights/maa-cli: changes, and which Codecov flags are due for each by the changed paths.
All: maa-sys, maa-cli

codecov.yml:

comment:
  # do not comment PRs if coverage is not changed
  require_changes: true
  # comment after receiving coverage reports from all three platforms
  after_n_builds: 3

component_management:
  individual_components:
    - component_id: maa-sys
      paths:
        - maa-sys
    - component_id: maa-cli
      paths:
        - maa-cli

test: ignore data_relative test
  maa-cli/src/dirs.rs
Due: maa-cli

fix: retry remove_dir_all 3 times
  maa-cli/src/dirs.rs
Due: maa-cli

fix: wait 1 second before retrying
  maa-cli/src/dirs.rs
Due: maa-cli

chore: retry time starts from 1
  maa-cli/src/dirs.rs
Due: maa-cli

fix: retry `remove_dir_all` 3 times in `ensure_clean` (#320)
  maa-cli/src/dirs.rs
Due: maa-cli

refactor: split dirs module into a separate crate
  Cargo.lock
  Cargo.toml
  maa-cli/Cargo.toml
  maa-cli/src/main.rs
  maa-dirs/Cargo.toml
  maa-dirs/src/lib.rs
Due: maa-cli

refactor(dirs): slightly improve readability of test
  maa-dirs/src/lib.rs
Due: none

fix: use MAA_CORE_LIB in run/mod.rs
  maa-cli/src/run/mod.rs
Due: maa-cli

refactor: split `dirs` module into a separate crate (#321)
  Cargo.lock
  Cargo.toml
  maa-cli/Cargo.toml
  maa-cli/src/main.rs
  maa-cli/src/run/mod.rs
  maa-dirs/Cargo.toml
  maa-dirs/src/lib.rs
Due: maa-cli

feat!: add reclamation and improve fight, roguelike, copilot commands
  Cargo.lock
  maa-cli/Cargo.toml
  maa-cli/src/command.rs
  maa-cli/src/config/asst.rs
  maa-cli/src/config/cli/mod.rs
  maa-cli/src/config/mod.rs
  maa-cli/src/config/task/client_type.rs
  maa-cli/src/config/task/mod.rs
  maa-cli/src/main.rs
  maa-cli/src/run/mod.rs
  maa-cli/src/run/preset/copilot.rs
  maa-cli/src/run/preset/fight.rs
  maa-cli/src/run/preset/mod.rs
  maa-cli/src/run/preset/reclamation.rs
  maa-cli/src/run/preset/roguelike.rs
  maa-cli/src/value/mod.rs
Due: maa-cli

feat: overlays to override default task config
  maa-cli/src/run/preset/copilot.rs
  maa-cli/src/run/preset/mod.rs
Due: maa-cli

fix: ensure parent directory exists before writing to file
  maa-cli/src/run/preset/mod.rs
Due: maa-cli

feat: setup name for copilot tasks
  maa-cli/src/config/task/mod.rs
  maa-cli/src/run/preset/copilot.rs
Due: maa-cli

chore: update docs and complete
  maa-cli/completions/maa.fish
  maa-cli/docs/en-US/usage.md
  maa-cli/docs/ja-JP/usage.md
  maa-cli/docs/ko-KR/usage.md
  maa-cli/docs/zh-CN/usage.md
  maa-cli/docs/zh-TW/usage.md
Due: maa-cli

test: add tests for to_task_type()
  maa-cli/src/run/preset/copilot.rs
  maa-cli/src/run/preset/fight.rs
  maa-cli/src/run/preset/reclamation.rs
  maa-cli/src/run/preset/roguelike.rs
Due: maa-cli

feat!: add `reclamation` and improve `fight`, `roguelike`, `copilot` commands (#313)
  Cargo.lock
  maa-cli/Cargo.toml
  maa-cli/completions/maa.fish
  maa-cli/docs/en-US/usage.md
  maa-cli/docs/ja-JP/usage.md
  maa-cli/docs/ko-KR/usage.md
  maa-cli/docs/zh-CN/usage.md
  maa-cli/docs/zh-TW/usage.md
  maa-cli/src/command.rs
  maa-cli/src/config/asst.rs
  maa-cli/src/config/cli/mod.rs
  maa-cli/src/config/mod.rs
  maa-cli/src/config/task/client_type.rs
  maa-cli/src/config/task/mod.rs
  maa-cli/src/main.rs
  maa-cli/src/run/mod.rs
  maa-cli/src/run/preset/copilot.rs
  maa-cli/src/run/preset/fight.rs
  maa-cli/src/run/preset/mod.rs
  maa-cli/src/run/preset/reclamation.rs
  maa-cli/src/run/preset/roguelike.rs
  maa-cli/src/value/mod.rs
Due: maa-cli

chore: sort dependencies by name
  maa-cli/Cargo.toml
Due: maa-cli

fix: unload core after getting version
  maa-cli/src/run/mod.rs
Due: maa-cli

refactor: use RwLock instead of TLS for shared library
  maa-sys/src/link.rs
Due: maa-sys

chore: don't store function pointers in SharedLibrary
  maa-sys/src/link.rs
Due: maa-sys

test: add test for version
  maa-sys/src/binding.rs
Due: maa-sys

fix: temporarily disable test
  maa-cli/src/run/mod.rs
  maa-sys/src/binding.rs
Due: maa-sys, maa-cli

temp disable unload core
  maa-cli/src/run/mod.rs
  maa-cli/src/run/preset/copilot.rs
Due: maa-cli

fix: set DLL directory for Windows
  Cargo.lock
  maa-sys/Cargo.toml
  maa-sys/src/binding.rs
Due: maa-sys

fix
  maa-sys/src/binding.rs
Due: maa-sys

fix: unload core after getting version
  maa-cli/src/installer/maa_core.rs
  maa-cli/src/run/mod.rs
  maa-sys/src/lib.rs
Due: maa-sys, maa-cli

fix: unload core after getting version (#327)
  maa-cli/src/installer/maa_core.rs
  maa-cli/src/run/mod.rs
  maa-sys/src/lib.rs
Due: maa-sys, maa-cli

refactor: use RwLock instead of TLS to store shared library
  maa-sys/src/link.rs
Due: maa-sys

chore: remove unnecessary reference
  maa-cli/src/run/preset/copilot.rs
Due: maa-cli

refactor: use RwLock instead of TLS to store shared library (#328)
  maa-sys/src/link.rs
Due: maa-sys

docs: fix typo
  maa-cli/docs/ja-JP/config.md
  maa-cli/docs/ja-JP/usage.md
  maa-cli/docs/zh-CN/config.md
  maa-cli/docs/zh-CN/usage.md
  maa-cli/docs/zh-TW/config.md
  maa-cli/docs/zh-TW/usage.md
Due: maa-cli

chore: bump maa-sys to 0.4.0
  Cargo.lock
  maa-cli/Cargo.toml
  maa-sys/Cargo.toml
Due: maa-sys, maa-cli

feat: support extra connection
  maa-sys/src/binding.rs
  maa-sys/src/lib.rs
Due: maa-sys

perf: use manual Debug implementation and remove deprecated AsRef
  maa-cli/src/config/task/mod.rs
  maa-cli/src/run/callback/summary.rs
  maa-sys/src/asst_type.rs
  maa-sys/src/task_type.rs
Due: maa-sys, maa-cli

perf: use manual Debug implementation and remove deprecated AsRef (#330)
  maa-cli/src/config/task/mod.rs
  maa-cli/src/run/callback/summary.rs
  maa-sys/src/asst_type.rs
  maa-sys/src/task_type.rs
Due: maa-sys, maa-cli

refactor: use windows-sys to replace windows crate
  Cargo.lock
  maa-cli/Cargo.toml
  maa-cli/src/run/mod.rs
Due: maa-cli

fix
  maa-cli/src/run/mod.rs
Due: maa-cli
