Repository MaaAssistantArknights/maa-cli: changes, and which Codecov flags are due for each by the changed paths.
All: maa-sys, maa-dirs, maa-cli

codecov.yml:

comment:
  # do not comment PRs if coverage is not changed
  require_changes: true
  # comment after receiving coverage reports from all three platforms
  after_n_builds: 3

component_management:
  individual_components:
    - component_id: maa-sys
      paths:
        - maa-sys
    - component_id: maa-dirs
      paths:
        - maa-dirs
    - component_id: maa-cli
      paths:
        - maa-cli

chore(deps): update deps
  Cargo.lock
Due: none

chore(deps): update deps (#345)
  Cargo.lock
Due: none

ci: fix permissions to push
  .github/workflows/chore-license.yml
Due: none

chore: remove unnecessary lifetime annotations
  maa-cli/src/config/asst.rs
  maa-cli/src/config/cli/resource.rs
  maa-cli/src/config/task/client_type.rs
  maa-cli/src/installer/download.rs
  maa-cli/src/run/external/playcover.rs
  maa-cli/src/value/mod.rs
  maa-dirs/src/lib.rs
  maa-sys/build.rs
Due: maa-sys, maa-dirs, maa-cli

feat: add serialize for TouchMode and TaskType enum
  maa-types/src/lib.rs
Due: none

feat: improve the error handling of the assistant API
  maa-sys/src/lib.rs
Due: maa-sys

feat: improve the error handling of assistant API (#346)
  maa-sys/src/lib.rs
Due: maa-sys

test: improve test about Error
  maa-sys/src/lib.rs
Due: maa-sys

test: improve test about maa-sys::Error (#347)
  maa-sys/src/lib.rs
Due: maa-sys

test: retry 3 times for test that downloads files from internet
  maa-cli/src/run/preset/copilot.rs
Due: maa-cli

test: retry 3 times for test that downloads files from internet (#348)
  maa-cli/src/run/preset/copilot.rs
Due: maa-cli

chore: bump maa-cli to 0.5.2
  Cargo.lock
  maa-cli/Cargo.toml
Due: maa-cli

ci: use macos-latest for aarch64 runner
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: simplify cross compiling detection and support aarch64 on Windows
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: change step name for aarch64 windows cross compiling
  .github/actions/setup/action.yml
Due: none

ci: remove old version info update and use target from directory name
  .github/workflows/release.yml
Due: none

chore: remove version from license used by list [no changelog]
  about.hbs
  licenses.html
Due: none

ci: use `macos-lastest` and support target Windows aarch64 (#352)
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat: add difficulty parameter to roguelike preset
  maa-cli/src/run/preset/roguelike.rs
Due: maa-cli

feat: support multiple tools to craft in reclamation
  maa-cli/src/run/preset/reclamation.rs
  maa-cli/src/value/mod.rs
Due: maa-cli

feat: add difficulty parameter to roguelike preset (#351)
  maa-cli/src/run/preset/roguelike.rs
Due: maa-cli

feat: support multiple tools to craft in reclamation (#353)
  maa-cli/src/run/preset/reclamation.rs
  maa-cli/src/value/mod.rs
Due: maa-cli

feat: add support for Windows aarch64
  maa-cli/build.rs
  maa-cli/docs/en-US/install.md
  maa-cli/docs/ja-JP/install.md
  maa-cli/docs/ko-KR/install.md
  maa-cli/docs/zh-CN/install.md
  maa-cli/docs/zh-TW/install.md
  maa-cli/src/installer/maa_cli.rs
Due: maa-cli

feat: add support for Windows aarch64 (#354)
  maa-cli/build.rs
  maa-cli/docs/en-US/install.md
  maa-cli/docs/ja-JP/install.md
  maa-cli/docs/ko-KR/install.md
  maa-cli/docs/zh-CN/install.md
  maa-cli/docs/zh-TW/install.md
  maa-cli/src/installer/maa_cli.rs
Due: maa-cli

chore: output licenses in markdown format [no changelog]
  .github/workflows/chore-license.yml
  Cargo.toml
  README.md
  about.hbs
  licenses.md
Due: none

fix
  about.hbs
  licenses.md
Due: none

fix lint
  .github/workflows/chore-license.yml
  about.hbs
  licenses.md
Due: none

chore: output licenses in markdown format [no changelog] (#355)
  .github/workflows/chore-license.yml
  Cargo.toml
  README.md
  about.hbs
  licenses.md
Due: none

chore(changelog): update changelog for 0.5.2
  CHANGELOG.md
Due: none

WIP
  Cargo.lock
  Cargo.toml
  maa-cli/Cargo.toml
  maa-rpc-api/Cargo.toml
  maa-rpc-api/README.md
  maa-rpc-api/src/lib.rs
Due: maa-cli

fix
  .github/workflows/ci.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/sync.yml
  README.md
  crates/maa-cli/docs/gen_docs.sh
Due: none

ci: dry run sync workflow
  .github/workflows/publish-sync.yml
Due: none

fix: checkout submodule on pull request
  .github/workflows/publish-sync.yml
Due: none

fix: show all diff
  .github/workflows/publish-sync.yml
Due: none

ci: fix sync workflow file name
  .github/workflows/release.yml
Due: none

ci: fix
  .github/scripts/parse_version.sh
Due: none

ci: fix broken release workflow due to crate relocation (#357)
  .github/scripts/parse_version.sh
  .github/workflows/release.yml
Due: none

ci: use ubuntu-22.04 instead of ubuntu-latest for build jobs
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none
